/********** Fonts **********/

@font-face {
    font-family: 'Aller Regular';
    src: url('fonts/aller_rg-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Regular';
    src: url('fonts/rubik-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Rubik Regular', Arial;
	color: #202020;
}

/********** Fix **********/

html, body {
	overflow-x: hidden!important;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/********** Header **********/

header {
	height: 350px;
	background:url('../img/italy.jpg') center top fixed no-repeat;
}

h1 {
	font-family: 'Aller Regular', Arial;
	font-size: 5.0em;
	margin: 0;
	text-align: center;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 4px 4px 9px #AAA;
}

nav ul {
	text-align: center;
	padding: 0px;
	background: linear-gradient(90deg, transparent, #9B9999, transparent);
	margin-top: 220px;
}

nav li {
	font-size: 1.7em;
	list-style: none;
	display: inline-block;
	margin: 10px 10px;
}

nav a:link {
	color: #000;
	transition: font-size .4s ease;
}

nav a:hover {
	color: #000;
	text-decoration: none;
	font-size: 1.2em;
}

nav a:visited {
	color: #000;
	text-decoration: none;
}

/********** Middle Content **********/

body {
	background: linear-gradient(#000056 35%, #140000, #222234);
}

#profile {
	margin: 10% auto;
	padding-top: 10%;
	height: 150px;
	width: 60%;
	background: url('../img/profile.jpg') center no-repeat;
}

.Me {
	background: radial-gradient(#9B9999, #797777);
	border: solid #0000E0 1px;
	padding: 10%;
	margin-top: 30px;
	height: 400px;
}

.Me h2 {
	font-family: 'Aller Regular', Arial;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
}

.Me p {
	padding-top: 10%;
	font-size: 0.7em;
}

#Resume {
	background: radial-gradient(#9B9999, #797777);
	height: 90%;
	margin-top: 30px;
	padding: 5% 5%;
	border: solid #0000E0 1px;
}

#Resume p {
	font-size: 1.2em;
}

#Resume h2 {
	font-family: 'Aller Regular', Arial;
	font-weight: bold;
	text-decoration: underline;
}

#Portfolio {
	background: radial-gradient(#9B9999, #797777);
	height: 100%;
	margin-top: 30px;
}

#Portfolio h2 {
	width: 20%;
	margin: 0 auto;
	padding: 2%;
	font-weight: bold;
	text-decoration: underline;
}

#Portfolio ul {
	width: 90%;
	margin: 10px auto;
}

#Portfolio ul li {
	display: inline;
	list-style: none;
}

#Portfolio img {
	height: 20%;
	width: 30%;
	border: 2.5px #000066 solid;
	box-shadow: 5px 5px 3px #000;
}

#Portfolio img:hover {
	box-shadow: 9px 9px 3px #000;
	transition: .4s ease;
}

/********** Footer **********/

footer {
	margin-top: 20px;
	background: radial-gradient(#9B9999, #797777);
}

footer ul {
	list-style: none;
	padding: 0px;
	text-align: center;
}

footer li {
	display: inline-block;
	padding: 3px 30px;
}

i {
	color: #000056;
	margin-bottom: 10px;
}

i:hover {
	color: #222234;
}

/********** Responsive **********/

@media screen and (max-width: 480px) {

	nav li {
		font-size: 1.1em;
		margin-right: 20px;
		margin-left: 20px;
	}

	nav ul {
		margin-top: 232px;
	}

	#profile {
	margin: 10% auto;
	padding-top: 10%;
	height: 200px;
	width: 70%;
	border-radius: 100%;
	border:solid #0000E0 3px;
	background: url('../img/profile.jpg') center no-repeat;
	}

	.Me {
		height: 420px;
	}

	.Me h2 {
		font-size: 1.2em;
		font-weight: bold;
	}

	.Me p {
		font-size: 0.7em;
	}

	#Resume p {
		font-size: 1.3em;
	}

}

@media screen and (max-width: 659px) {

	.tabs-wrap {
		display: none;
	}

	#Resume h2 {
		font-size: 1.5em;
	}

	#Resume p {
		font-size: .7em;
	}
}

@media screen and (min-width: 660px) {

	.mobile {
		display: none;
	}

	#profile {
		width: 33%;
		height: 200px;
	}

	#About, #Portfolio, #Resume, #Skills {
		background: none;
		border: none;
	}

	h2 {
		font-family: 'Aller Regular', Arial;
		font-size: 2.6em;
		font-weight: bold;
		text-decoration: underline;
		text-shadow: 3px 3px 3px #666;
	}

	#About h2 {
		font-size: 1.8em;
	}

	#About, #Skills p {
		margin: 30px 15% 70px 15%;
		font-size: 20px;
	}

	#Skills, #About, #Portfolio {
		padding-top: 40px;

	}

	#Skills {
		height: 550px;
		padding-top: 60px;
	}

	#Portfolio {
		height: 500px;
	}

	#Portfolio ul {
		margin: 10px auto;
		padding: 0px;
	}

	#Portfolio img {
		height: 250px;
		width: 33%;
		margin-bottom: 20px;
	}

	.tab {
		margin: 0 -15px;
	}

	button {
		font-family: 'Aller Regular', Arial;
		width: 25%;
		float: left;
		color: #c0c0c0;
		font-size: 1.7em;
		background: linear-gradient(#000034 35%, #140000, #000);
		border: 1.3px #000066 solid;
		margin: 0px;
	}

	.tabcontent h2 {
		font-weight: bold;
		text-decoration: underline;
		padding: 20px 0;
		text-align: center;
	}


	.Me {
		height: 650px;
	}

	.tabs-wrap {
		display: block;
	}

	.col-sm-10 {
		background: radial-gradient(#9B9999, #797777);
	}

}
